#containerMenu {
  grid-column: 1 / 2;
  grid-row: 1 / 10;
  width: 250px;
  min-height: 1100px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
img {
  width: 100px;
  height: 100px;
}
#logoOneGoal {
  width: 150px;
  height: 150px;
}
