nav {
  margin-top: 40px;
  grid-column: 2 / 9;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}
.align-right {
  width: 100%;
  margin-right: 30px;
  display: flex;
  align-items: center;
  justify-content: right;
}
h1 {
  margin-left: 40px;
  color: #0d5ed7;
  width: 500px;
}
